# Dependencies
/node_modules
/.pnp
.pnp.js

# Production
/build

# Next.js
/.next/
/out/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/

# OS
.DS_Store
*.swp
*.swo

# Logs
logs
*.log

# Server PID
.server.pid